* {
    margin: 0px;
    padding: 0px;
}

/* Common Style */


/* Style for Header */
header {
    max-width: 83%;
    margin: 50px auto;
    margin-bottom: 120px;

}

.container {
    border-radius: 16px;
    /* background-color: red;
    border: 2px solid black; */
    height: 600px;
    /* margin: 50px 140px; */
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.banner-content h4 {
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 16px;

}

.one {
    max-width: 48%;
    margin: 5px auto;
    /* text-align: center; */
}

.one h1 {
    font-size: 72px;
    font-weight: 900;
    color: #FFF;
    line-height: 95px;
    text-align: center;
}

/* Style for main  */

.discount {
    max-width: 50%;
    margin: 50px auto;
    /* background-color: rgb(227, 135, 135);
    border: 2px solid black; */
    height: 600px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 240px;

}

.discount-content .discount-figure {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.dicount-info {
    font-size: 24px;
    font-weight: 500;
    /* font-family: 'Inter', sans-serif; */
    color: #F00;
    margin-bottom: 16px;
}

.dicount-info-1 {
    font-size: 48px;
    font-weight: 700;
    /* font-family: 'Inter', sans-serif; */
    color: #070211;
    /* font-family: 'Inter', sans-serif; */
    margin-bottom: 48px;
}

.discount-pic img {
    height: 500px;
    /* margin: 30px auto; */
    position: center;
    fill: lightgray 50%;
    margin: 30px 0px 120px;
}

/* Styles for join now */

.join-now-section {
    height: 600px;
    max-width: 82%;
    margin: 70px auto;
    /* background-color: red;
    border: 2px solid black; */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.join-now-content {
    position: absolute;
    font-family: 'Merriweather', serif;
    text-align: left;
    top: 140px;
    left: 100px;
    max-width: 49%;

}

.join-now-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    color: #FFF;
    margin-bottom: 24px;
}

.join-now-title-info {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffcc;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
}

.join-now {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding-left: 18px;
    color: #FFF;

}

/* Style for party place section */
.party-place-section {
    height: 482px;
    max-width: 82%;
    margin: 70px auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #58b7fd;

}

.party-place-container {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 64px;
    font-family: 'Inter', sans-serif;
    padding: 100px 386px 214px 385px;
    text-align: center;

}

.party-place-container span {
    color: #F00;
}

.party-place-container h3 {
    color: #070211;
}

button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFFFFF;
    border: 0px;
    margin-top: 30px;

}

/* Styles for best offer section */
.best-offer-section {
    height: 482px;
    max-width: 82%;
    margin: 70px auto;
    border-radius: 5px;
    border: 0px;
}

.best-offer-container {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.offer-content {
    text-align: left;
}

.content-title {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.title-info {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.titile-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 85%;
}

.offer-pics{
    /* background-image: url('../resources/Ellipse\ 1.png'); */
    background-color: red;
    padding: 10px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 85%; */
    /*border: 5px solid red;
    */
    border-radius: 80%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    margin-left: 0px;
}
.offer-pics .inner-pic img {
    height: 291px;
    width: 291px;
    border: 25px solid white;
    border-radius: 364px;
    -webkit-border-radius: 364px;
    -moz-border-radius: 364px;
    -ms-border-radius: 364px;
    -o-border-radius: 364px;
}


.offer-24 {
    text-align: left;

}

.offer-title-24 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-title-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

/* Style for Holidays sale section */
.holiday-sale-section {
    height: 482px;
    max-width: 88%;
    margin: 50px auto;
}

.holiday-sale-content {
    text-align: center;
}

.holiday-sale-heading {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-percent {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-percent>span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-percent-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 60%;
    margin: 10px auto;
}

.holiday-sale-box {
    max-width: 82%;
    height: 662px;
    /* max-width: 95%; */
    margin: 72px auto;
    position: relative;
}
.holiday-sale-box .botom-rect img{
    max-width: 100%;
    margin-top: 440px;
    
}
.holiday-sale-girl-pic img {
    position: absolute;
    top: 8px;
    left: 815px;
    width: 430;
    height: 433;
    border-radius: 16px 16px 0px 0px;
}
.holiday-sale-girl-percent img {
    position: absolute;
    top: 180px;
    left: 715px;
    width: 206px;
    height: 206px;
    /* text-align: center; */
}
.holiday-sale-girl-surprize img{
    position: absolute;
    top: 185px;
    left: 120px;
    width: 485px;
    height: 418px;
    box-shadow: #070211;
}
.holiday-sale-box img .bottom {
    width: 52%;
    height: 229px;
    position: absolute;
    margin: 10px auto;
    bottom: 0px;

}

/* styles for awsome portfolio */
.awsome-portfolio-section {
    height: 482px;
    max-width: 88%;
    margin: 50px auto;
}
.awsome-portfolio-content{
    
    max-width: 95%;
    margin: 72px auto;

}

.portfolio-heading {
    color: #F00;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.portfolio-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-title-description {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 62%;
    margin-bottom: 48px;
}

.portfolio-parent-container {
    height: 900px;
    max-width: 95%;
    margin: 72px auto;
}

.portfolio-flex-container-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.portfolio-flex-container-1 img{
    width: 400px;
    height: 400px;
}

.portfolio-flex-container-2 {
    display: flex;
    gap: 24px;
    
}
.portfolio-flex-container-2 img{
    width: 400px;
    height: 400px;
}

/* Styles for subscribe section */
.subscribe-section {
    height: 616px;
    max-width: 82%;
    margin: 82px auto;
    margin-top: 750px;
    text-align: center;
    border-radius: 16px;
    background: #ff00000d;
    position: relative;
}

.subscribe-section img {
    /* padding-top: 80px; */
    width: 150px;
    height: 150px;
    margin: 80px 250px 40px;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    /* padding-top: 40px; */
    margin-bottom: 22px;
}

.subscribe-title-description {
    color: #07021199;
    max-width: 65%;
    margin: 22px auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* padding-top: 22px; */
}

.subscribe-input-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.mail input {
    max-width: 35%;
    height: 72px;
    margin: 48px auto;
    border-radius: 50px;
    background: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 400px 0px 38px;
    border: 0px;
    text-align: left;
    margin-top: 0px;
    /* padding-top: 48px; */
    position: relative;
}

.btn-subscribe button {
    max-width: 16%;
    height: 83px;
    margin: 48px auto;
    padding: 24px auto;
    border-radius: 0px 50px 50px 0px;
    background: #df0d0def;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 395px;
    left: 808px;
    border: 0px;
    text-align: left;
}

/* Style for footer */

footer {
    background: #070211;
    width: 100%;
    height: 610px;
}

.footer-content {
    max-width: 82%;
    margin: 120px auto;
}

.footer-containers-1 {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
    /* max-width: 100%; */
    text-align: left;
    gap: 560px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}

address {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    max-width: 65%;
    padding-top: 120px;
}

.align-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.align-1 img {
    width: 24px;
    height: 24px;
    margin-top: 122px;
    margin-right: 14px;
}

.footer-tel {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.align img {
    width: 24px;
    height: 24px;
    margin-top: 13px;
}

.footer-web {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.footer-container-3 {
    text-align: center;
}

.footer-container-3 img {
    padding: 48px 24px;
}

.footer-containers-3 {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    /* margin: 40px auto 120px; */
    /* max-width: 80%; */
    margin-top: 50px;
}

.footer-copyright {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.footer-unscribe {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}