* {
    margin: 0px;
    padding: 0px;
}

/* Common Style */


/* Style for Header */
header {
    max-width: 83%;
    margin: 50px auto;
    margin-bottom: 120px;

}

.container {
    border-radius: 16px;
    /* background-color: red;
    border: 2px solid black; */
    height: 600px;
    /* margin: 50px 140px; */
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-size:contain;
    background-repeat: no-repeat;
}

.banner-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.banner-content h4 {
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 16px;

}

.one {
    max-width: 48%;
    margin: 5px auto;
    /* text-align: center; */
}

.one h1 {
    font-size: 72px;
    font-weight: 900;
    color: #FFF;
    line-height: 95px;
    text-align: center;
}

/* Style for main  */

.discount {
    max-width: 50%;
    margin: 50px auto;
    /* background-color: rgb(227, 135, 135);
    border: 2px solid black; */
    height: 600px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 240px;

}

.discount-content .discount-figure {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.dicount-info {
    font-size: 24px;
    font-weight: 500;
    /* font-family: 'Inter', sans-serif; */
    color: #F00;
    margin-bottom: 16px;
}

.dicount-info-1 {
    font-size: 48px;
    font-weight: 700;
    /* font-family: 'Inter', sans-serif; */
    color: #070211;
    /* font-family: 'Inter', sans-serif; */
    margin-bottom: 48px;
}

.discount-pic img {
    height: 500px;
    /* margin: 30px auto; */
    position: center;
    fill: lightgray 50%;
    margin: 30px 0px 120px;
}

/* Styles for join now */

.join-now-section {
    height: 600px;
    max-width: 82%;
    margin: 70px auto;
    /* background-color: red;
    border: 2px solid black; */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.join-now-content{
    position: absolute;
    font-family: 'Merriweather', serif;
    text-align: left;
    top: 140px;
    left: 100px;
    max-width: 49%;

}
.join-now-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    color: #FFF;
    margin-bottom: 24px;
}
.join-now-title-info{
    font-size: 18px;
    font-weight: 400;
    color: #ffffffcc;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
}
.join-now{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding-left: 18px;
    color: #FFF;

}
